@import "variables";
@import "../components/font-awesome/scss/font-awesome";
@import "../components/bootstrap-sass-twbs/assets/stylesheets/_bootstrap";
@import "signin";

.col-centered {
  float: none;
  margin: 0 auto;
}

.box-message {
  border-left: 4px solid $brand-info;
  background-color: #fff;
  padding: 12px;
  @include box-shadow(0 1px 1px 0 rgba(0,0,0,.1));
}